<!DOCTYPE html>
<html>
	<%- include /commons/head.ejs %>
	<body>
		<div id="wrapper">
			<div id="content">
				<%- include /index/navbar.ejs %>
				<%- include /index/carousel.ejs %>
				<%- include /index/marketing.ejs %>
				<div class="container">
					<div class="row">
						<%- include /index/prices.ejs %>
					</div>
					<div class="row">
						<%- include /index/thumbnail.ejs %>
					</div>
				</div>
				<%- include /commons/footer.ejs %>
			</div>
		</div>
	</body>
</html>
