<div class="col-md-4">
	<div class="tag bg-orange">
		<h3><%=t('Variedade.grupo.laranja')%>:</h3> 
		<h1>R$ 24,00</h1>
		<h4><%=t('app.index.perSolids')%></h4>
		<h5>R$ 10,50<%=t('app.index.perBox')%></h5>
	</div>
</div>
<div class="col-md-4">
	<div class="tag bg-green">
		<h3><%=t('Variedade.grupo.limao')%>:</h3> 
		<h1>R$ 22,00</h1>
		<h4><%=t('app.index.perSolids')%></h4>
		<h5>R$ 9,80<%=t('app.index.perBox')%></h5>
	</div>
</div>
<div class="col-md-4">
	<div class="tag bg-red">
		<h3><%=t('Variedade.grupo.tangerina')%>:</h3> 
		<h1>R$ 20,00</h1>
		<h4><%=t('app.index.perSolids')%></h4>
		<h5>R$ 8,55<%=t('app.index.perBox')%></h5>
	</div>
</div>