<div class="col-sm-6 col-md-3">
	<div class="thumbnail">
		<img data-src="holder.js/300x300" alt="..." src="/eCitros/img/citrus-50.png">
		<div class="caption">
			<h3><%=t('app.index.thumbnail01.title')%></h3>
			<p><%=t('app.index.thumbnail01.description')%></p>
			<p>
				<a href="#" class="btn btn-default" role="button">
					<%=t('app.index.more')%> &raquo;
				</a>
			</p>
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-3">
	<div class="thumbnail">
		<img data-src="holder.js/300x300" alt="..." src="/eCitros/img/factory-50.png">
		<div class="caption">
			<h3><%=t('app.index.thumbnail02.title')%></h3>
			<p><%=t('app.index.thumbnail02.description')%></p>
			<p>
				<a href="#" class="btn btn-default" role="button">
					<%=t('app.index.more')%> &raquo;
				</a>
			</p>
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-3">
	<div class="thumbnail">
		<img data-src="holder.js/300x300" alt="..." src="/eCitros/img/delivery_food-50.png">
		<div class="caption">
			<h3><%=t('app.index.thumbnail03.title')%></h3>
			<p><%=t('app.index.thumbnail03.description')%></p>
			<p>
				<a href="#" class="btn btn-default" role="button">
					<%=t('app.index.more')%> &raquo;
				</a>
			</p>
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-3">
	<div class="thumbnail">
		<img data-src="holder.js/300x300" alt="..." src="/eCitros/img/garden_shears-50.png">
		<div class="caption">
			<h3><%=t('app.index.thumbnail04.title')%></h3>
			<p><%=t('app.index.thumbnail04.description')%></p>
			<p>
				<a href="#" class="btn btn-default" role="button">
					<%=t('app.index.more')%> &raquo;
				</a>
			</p>
		</div>
	</div>
</div>