<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<br/>
				<address>
					<img alt="brand" src="/eCitros/img/logo.png" height="25"><br/>
					<%= t('app.address.street') %><br />
					<%= t('app.address.city') %> - <%= t('app.address.state.symbol') %><br /> 
					<%= t('app.address.zipcode.label') %>: <%= t('app.address.zipcode.value') %><br /> 
					<abbr title="<%= t('app.address.fone.label') %>">F: <%= t('app.address.fone.value') %></abbr><br/>
					<a href="mailto:contato@evoluosoftware.com.br">contato@evoluosoftware.com.br</a>
				</address>
			</div>
			<div class="col-sm-12 col-md-6 text-right">
				<br/>
				<p><%= t('app.powerBy.label') %></p>
				<p>
					<a href="http://www.evoluosoftware.com.br">
						<img src="/eCitros/img/evoluo.png">
					</a>
				</p>
				<p>
					<small><%= t('app.copyright') %></small>
				</p>
			</div>
e	</div>
	</div>
</div>
